body {
    background: #885555;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 87%;
    color: #484848;
    width: 100%;
    max-width: 100%;
}

.app-header {}

.app-logo {
  height: 64px;
  display: inline-block;
  line-height: 64px;
  font-size: 3em;
  color: #881122;
}

.container {
    padding: 10px;
    margin: 10px;
    background: #FFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    display: block;
}

.session {}
.session__user {
    color: var(--main-color);
}
.color--main { color: var(--color-main); }
.color--hl { color: var(--color-highlight)}

/* Helpers */
.f-right { float: right; }
.f-left { float: left; }


.clear, .clearfix { clear: both; }

.col-50 {
    float: left;
    width: 49%;
    margin: 0.5%;
}

hr {
    width: 97%;
    background: #ead2d2;
    border: none;
    height: 1px;
    margin: 20px auto;
}

/**
 * This is only to fix screwed-up flex settings.
 */
.dx-form .dx-collection { height: auto !important; }
.dx-form .dx-texteditor-container { display: block !important; }
.dx-form .dx-box-flex { display: block !important; }
.dx-form .dx-box { display: block !important; }
.dx-form .dx-field-item-content { height: 30px; }

.dx-button {
    height: 30px;
}

.container--rest {
  height: calc(100% - 135px);
  overflow: auto;
}

.dx-datagrid-rowsview .dx-row:hover {
  background: #E8E8E8;
}
